{% extends "base.html" %}
{% block title %} Dashboard {% endblock %}


{% block content %}
    <table class="table table-bordered">
        <thead>
            <th>URL</th>
            <th>Render (ms)</th>
            <th>Server Errors</th>
            <th>Browser Errors</th>
        </thead>
        <tbody>
            {% for r in data.errorRows %}
            <tr {% if r.errorsPresent == True %} class="error"{% endif %}>
                <td>{{ r.url }}</td>
                <td>{{ r.renderTime }}</td>
                <td>{{ r.serverErrors }}</td>
                <td>{{ r.browserErrors }}</td>
            </tr>
            {% endfor %}
            {% for r in data.newestRows %}
            <tr {% if r.errorsPresent == True %} class="error"{% endif %}>
                <td>{{ r.url }}</td>
                <td>{{ r.renderTime }}</td>
                <td>{{ r.serverErrors }}</td>
                <td>{{ r.browserErrors }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
